@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-cairo;
}

body {
  @apply bg-[#27080e] text-white;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.15) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
}

.question {
  animation: slide-up 1s;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
